<%= erb :header, :layout => false %>
<% if @resmode == false %>
<div class="hborder">
	<div class="head threadldiv">
		<a name="menu" rev="contents"></a>
		<ul class="threadlistflat" id="threadlist">
		<% @relid_thread = 0 %>
		<% threadlinks = @board.postthreads.list %>
		<% threadlinks.each do |thread| %>
			<% @relid_thread += 1 %>
			<% if @relid_thread > settings.threads %>
				<li class="threadlink"><a href="/<%= @board.dir %>/<%= thread.id %>/l50"><%= @relid_thread %>: <%= thread.subject %> (<%= thread.posts.count %>)</a></li>
			<% else %>
				<li class="threadlink"><a href="/<%= @board.dir %>/<%= thread.id %>/l50"><%= @relid_thread %>:</a> <a href="#<%= @relid_thread %>"><%= thread.subject %> (<%= thread.posts.count %>)</a></li>
			<% end %>
		<% end %>
		</ul><br>
		<span class="threadlinks"><a href="#newthread">New Thread</a> | <a href="/<%= @board.dir %>/list">All Threads</a></span> 
	</div>
</div>
<% end %>
<% @relid_thread = 0 %>
<% @threads.each do |thread| %>
	<% omitted = 0 %>
	<% @relid_thread += 1 %>
	<% if @resmode == true %>
		<% if @modifier == "" %>
			<% posts = thread.posts %>
		<% else %>
			<% posts = readmodifier(@modifier, thread.posts) %>
		<% end %>
		<% @first_post_relid = posts.first(:relid.not => 1) ? posts.first(:relid.not => 1).relid : 1 %>
		<% @last_post_relid = posts.last.relid %>
		<%= erb :threadnav, :layout => false, :locals => {:thread => thread} %>
		<hr class="tophr">
	<% else %>
		<% if thread.posts.count > (settings.replies + 1) %>
			<% posts = threadsummary(thread) %>
			<% omitted = thread.posts.count - (settings.replies + 1) %>
		<% else %>
			<% posts = thread.posts %>
		<% end %>
		<% @first_post_relid = posts.first.relid %>
		<% @last_post_relid = posts.last.relid %>
		<div class="border">
			<a name="<%= @relid_thread %>"></a>
			<div class="thread">
				<span class="navlinks">
					<a href="#menu">&#9632;</a>
					<a href="#<%= @relid_thread == 1 ? [ @threads.count, settings.threads ].min : @relid_thread - 1 %>">&#9650;</a>
					<a href="#<%= @relid_thread == [ @threads.count, settings.threads ].min ? 1 : @relid_thread + 1 %>">&#9660;</a>
				</span>
			<br>
	<% end %>
	<h2>
		<% if @resmode == false %><span class="replies">[<%= @relid_thread %>:<%= thread.posts.count %>]</span><% end %> <%= thread.subject %>
	</h2>
	<% posts.each do |post| %>
		<% if @resmode == true %>
			<a name="<%= post.relid %>"></a>
		<% end %>
		<% if post.deleted %>
			<div class="post">
				<span class="postnum"><%= post.relid %></span>
				<span class="postinfo deleted">Post deleted</span>
			</div><br>
		<% else %>
			<div class="post">
				<h3>
					<span class="postnum">
						<%= post.relid %>
					</span>
					<span class="postinfo">
						<span class="namelabel"> Name: </span>
						<span class="postername">
							<%= post.email != "" ? '<a href="mailto:' + post.email + '">' : "" %><%= post.name != "" && post.trip != "" ? post.name : "Anonymous" %><%= post.trip.to_s != "" ? '</span><span class="postertrip">!' + post.trip : "" %><%= post.email != "" ? '</a>' : "" %>
						</span>
						<span class="posterdate">
							<%= post.time.strftime("%y/%m/%d(%a)%H:%M:%S") %>
						</span>
						<% if session["sysop"] == settings.sysop %>
						<span class="adminnav">
							<a href="/manage/delete?thread=<%= thread.id %>&post=<%= post.relid %>" onclick="javascript:return confirm('Are you sure you want to delete this post?')">Delete <%= post.relid %></a>
						</span>
						<% end %>
					</span>
				</h3>
				<blockquote>
				<%= post.message %>
				</blockquote>
			</div>
			<% if post.relid == 1 %>
			<br>
			<% end %>
		<% end %>
	<% end %>
	<% if @resmode == true %>
	<hr>
	<div style="text-align: center;"><a href="/<%= @board.dir %>/<%= thread.id %>/<%= @last_post_relid %>n-">Newer Posts</a></div>
	<hr>
	<%= erb :threadnav, :layout => false, :locals => {:thread => thread} %>
	<% end %>
	<%= erb :postform, :layout => false, :locals => {:parent => thread.id} %>
	<% if @resmode == false %>
		<%= erb :threadnav, :layout => false, :locals => {:thread => thread} %>
		</div>
    </div>
	<% end %>
<% end %>
<% if @resmode == false %>
<div class="hborder">
	<div class="head newthread">
		<a id="newthread"></a>
		<%= erb :postform, :layout => false, :locals => {:parent => "0"} %>
	</div>
</div>
<% end %>
<%= erb :footer, :layout => false %>