<%= erb :header, :layout => false %>
<div class="border"> 
	<div class="head" style="font-size: 1.25em;">
		<% boards = Board.all(:order => :dir.asc) %>
		<table cellspacing="0" cellpadding="0">
		<% boards.each do |board| %>
			<tr><td style="border-bottom: 1px solid black;">/<%= board.dir %>/</td><td style="border-bottom: 1px solid black;">&nbsp;</td><td style="border-bottom: 1px solid black;"><a href="/<%= board.dir %>/" style="text-decoration: none;"><%= board.name %></a></td></tr>
		<% end %>
		</table>
	</div>
</div>
<%= erb :footer, :layout => false %>