<% if @resmode == false %>
<span class="threadnav">
	<a href="/<%= @board.dir %>/<%= thread.id %>/">Entire Thread</a>
	<a href="/<%= @board.dir %>/<%= thread.id %>/l50">Last 50</a>
	<a href="/<%= @board.dir %>/<%= thread.id %>/-100">First 100</a>
</span>
<% else %>
<a href="/<%= @board.dir %>/">Return to BBS</a>
<a href="/<%= @board.dir %>/<%= thread.id %>/">Entire Thread</a>
<a href="/<%= @board.dir %>/<%= thread.id %>/">Previous 100</a>
<a href="/<%= @board.dir %>/<%= thread.id %>/">Next 100</a>
<a href="/<%= @board.dir %>/<%= thread.id %>/l50">Last 50</a>
<% end %>